.card {
    height: 10rem;
    width: 10rem;
    border: white solid;
}
#card1 {
    position: relative;
    top: 0.2rem;
    left: 25rem;
    border-radius: 25%;
}
#card2 {
    position: relative;
    left: 42rem;
    bottom: 10rem;
    border-radius: 25%;
}
#card3 {
    position: relative;
    left: 59rem;
    border-radius: 25%;
    bottom: 20.4rem;
}
#card4 {
    position: relative;
    left: 25rem;
    border-radius: 25%;
    bottom: 15rem;
}
#card5 {
    position: relative;
    left: 42rem;
    bottom: 25rem;
    border-radius: 25%;
}
#card6 {
    position: relative;
    left: 59rem;
    border-radius: 25%;
    bottom: 35rem;
}
#above {
    background-color:rgb(23, 50, 202);
    height: 16rem;
}
.title {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family: 'Assistant', sans-serif;
}
#again {
    color:white;
    text-align: center;
    font-size: 1.5rem;
    opacity: 0;
    position: relative;
    top: 5rem;
}
#guess {
    position: relative;
    top: 5rem;
}
#new {
    color: blue;
    position: relative;
    left: 10rem;
    bottom:1rem;
    font-family: 'Assistant', sans-serif;
    transition-duration: 0.5s;
    width: 6rem;
    text-align: center;
    cursor: pointer;
}
#new:hover {
    background-color: rgb(23, 50, 202);
    color: white;
}
.all {
    background-color: rgb(53, 53, 53);
    position: relative;
    bottom: 2rem;
}